:root {
  --main-color: #234;
  --main-color-transparent: #223344cc;
  --secondary-color: #446546;
  --bg-light: #efeae6;
  --text-main: #342a21;
  --text-light: #f1e0c5;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  position: relative;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
body::-webkit-scrollbar {
  display: none;
}

header {
  background-image: url(/src/img/nordwood-themes-kRNZiGKtz48-unsplash.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: 100% auto;
  height: 80vh;
}
header * {
  color: var(--text-main);
}
header .header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 100;
  height: calc(80vh - 6rem - 11rem);
}
header h1 {
  margin: 0 0 1rem 0;
}
header h3 {
  width: 65%;
  line-height: 2rem;
  margin-bottom: 2rem;
}
header h4 {
  font-size: 0.9rem;
  letter-spacing: 0.15rem;
  margin: 0 0 0.8rem;
  text-transform: uppercase;
}

.container {
  width: 1200px;
  margin: auto;
}

nav {
  display: flex;
  align-items: center;
  padding-left: 15%;
  padding-top: 0.5rem;
  margin-bottom: 2rem;
}
nav img {
  height: 6rem;
}
nav ul {
  display: flex;
  list-style: none;
}
nav ul li {
  text-transform: uppercase;
}
nav ul li a {
  border-radius: 10px;
  color: var(--main-color);
  font-weight: bold;
  margin: 0 1rem;
  padding: 1rem 2rem;
  text-decoration: none;
  transition: 0.2s ease-in;
}
nav ul li a:hover {
  background-color: var(--main-color-transparent);
  box-shadow: 2px 2px 4px 0 #666;
  color: var(--bg-light);
}

.btn {
  display: inline-block;
  border-radius: 0.3rem;
  font-size: 1.2rem;
  font-weight: bold;
  letter-spacing: 0.08rem;
  padding: 0.8rem 1rem;
  text-decoration: none;
  text-transform: uppercase;
}
.btn--green {
  color: var(--bg-light);
  background-color: var(--secondary-color);
  transition: 0.2s ease-out;
  margin-bottom: 2rem;
}
.btn--green:hover {
  background-color: #284229;
}

#presentation {
  display: flex;
  gap: 2rem;
  margin: 0 2rem;
  margin-top: -8rem;
}

.column {
  border-radius: 0.6rem;
  box-shadow: 2px 2px 5px rgba(68, 68, 68, 0.65);
  display: flex;
  flex-direction: column;
  padding: 1rem;
  text-align: center;
  transition: 0.3s ease-out;
  width: 30%;
}
.column--light {
  background-color: var(--bg-light);
  color: var(--text-main);
}
.column--light .fas {
  font-size: 2.5rem;
  padding-top: 0.5rem;
}
.column--dark {
  background-color: var(--main-color);
  color: #eee;
}
.column--dark .fas {
  color: var(--text-light);
  font-size: 2.5rem;
  padding-top: 0.5rem;
}
.column p {
  line-height: 1.5rem;
  margin: 0;
}
.column h4 {
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  padding: 1rem 0;
}
.column:hover {
  transform: scale(1.1);
}

.section--title {
  color: var(--secondary-color);
  letter-spacing: 0.15rem;
  margin: 0 0 1rem 0;
  text-align: center;
  text-transform: uppercase;
}

#about {
  display: flex;
  margin: 5rem 0;
}
#about .about--text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#about p {
  line-height: 1.5rem;
  margin-left: 1rem;
}

#services {
  background-color: var(--bg-light);
  padding: 5rem 0;
}
#services .services--title {
  font-size: 1.8rem;
  letter-spacing: 0.2rem;
  text-align: center;
  text-transform: uppercase;
}
#services .services--item {
  display: flex;
  margin: 4rem 0;
}
#services .services--text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#services p {
  line-height: 1.5rem;
  margin: 0 1rem 0 0;
}

.vector--img {
  height: 20rem;
}

.top {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  height: 3rem;
  width: 3rem;
  background-color: var(--main-color);
  border: 1px #444 solid;
  border-radius: 50%;
}
.top a {
  margin: 0;
  padding: 0;
  font-weight: bold;
  text-decoration: none;
  color: #f1e0c5;
}

/*# sourceMappingURL=style.css.map */
